version: '3.2'

services:

  mariadb:
    image: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: changeme
    entrypoint:
      sh -c "echo 'CREATE DATABASE IF NOT EXISTS pacstall; CREATE DATABASE IF NOT EXISTS matomo;' > /docker-entrypoint-initdb.d/init.sql; /usr/local/bin/docker-entrypoint.sh --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci"
    volumes:
     - db:/var/lib/mysql
    ports:
      - target: 3306
        published: 3306

  color:
    image: ghcr.io/pacstall/pac-color:master
    ports:
      - target: 8000
        published: 8000
    
  webserver:
    image: ghcr.io/pacstall/webserver:latest
    depends_on:
      - mariadb
      - matomo
    ports:
      - target: 3300
        published: 3300
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    environment:
      PACSTALL_DISCORD_TOKEN: ""
      PACSTALL_DISCORD_CHANNEL_ID: ""
      PACSTALL_DISCORD_ENABLED: "false"
      PACSTALL_DISCORD_TAGS: "" # See https://discord.com/developers/docs/reference#message-formatting
      PACSTALL_DATABASE_HOST: mariadb
      PACSTALL_DATABASE_USER: root
      PACSTALL_DATABASE_PASSWORD: changeme
      PACSTALL_DATABASE_NAME: pacstall
      PACSTALL_DATABASE_PORT: 3306
      PACSTALL_MATOMO_ENABLED: "true"
      MATOMO_DOMAIN: "http://matomo"
      MATOMO_SITE_ID: "1"
      PACSTALL_PROGRAMS_GIT_BRANCH: "master"
        
  matomo:
    image: matomo
    volumes:
      - matomo:/var/www/html
    environment:
      MATOMO_DATABASE_HOST: mariadb
      MATOMO_DATABASE_USERNAME: root
      MATOMO_DATABASE_PASSWORD: changeme
      MATOMO_DATABASE_DBNAME: matomo
    ports:
      - target: 80
        published: 8080
    depends_on:
      - mariadb
      
volumes:
  db:
  matomo:
