#------------------------------------------------------------------------------#
#--------------------         Server Configuration         --------------------#
#------------------------------------------------------------------------------#

#---------------------------------   Manual   ---------------------------------#
#------------------------------------------------------------------------------#


# >> PROPERTY: `production`                         TYPE `bool`
# If true, the server starts a file server located at `tcp_server.public_dir`

# >> PROPERTY: `pacstall_programs.path`             TYPE `string`
# Path to the `pacstall-programs` local repository

# >> PROPERTY: `pacstall_programs.tmp_dir`          TYPE `string`
# Temporary dir path to store  scripts. If the dir doesn't exist, it gets created

# >> PROPERTY: `pacstall_programs.update_interval`  TYPE `int`
#  How often to pull git commits. Time in milliseconds

# >> PROPERTY: `pacstall_programs.max_open_files`   TYPE `int`
#  Maximum number of open files during the package scanning

# >> PROPERTY: `tcp_server.port`                    TYPE `int`
# What port to listen on

# >> PROPERTY: `tcp_server.public_dir`              TYPE `string` 
# Directory containing all public html files


#------------------------------------------------------------------------------#


production = true

[pacstall_programs]
path            = "./pacstall-programs"
tmp_dir         = "./tmp"
update_interval = 900000
max_open_files  = 100

[tcp_server]
port        = 3300
public_dir  = "./public"

#------------------------------------------------------------------------------#