#------------------------------------------------------------------------------#
#--------------------         Server Configuration         --------------------#
#------------------------------------------------------------------------------#

#---------------------------------   Manual   ---------------------------------#
#------------------------------------------------------------------------------#

#                 #
# --- Globals --- #
#                 #

# If true, the server starts a file server located at `tcp_server.public_dir`
# `production`: = `bool`

#                                          #
# --- Pacstall Programs ( Repository ) --- #
#                                          #

# Repository URL for the pacstall repository.
# `pacstall_programs.url`              = `string`

# Temporary dir path to store scripts. If the dir doesn't exist, it gets created
# `pacstall_programs.tmp_dir`          = `string`

#  How often to pull git commits. Time in seconds
# `pacstall_programs.update_interval`  = `int`

#  Maximum number of open files during the package scanning
# `pacstall_programs.max_open_files`   = `uint8`

#                    #
# --- TCP Server --- #
#                    #

# What port to listen on
# `tcp_server.port`        = `uint16`

# Directory containing all public html files
# `tcp_server.public_dir`  = `string` 

#                 #
# --- Logging --- #
#                 #

# Discord Bot token
# `logging.discord_token` = `string`

# Discord Channel ID to write to
# `logging.discord_channel_id` = `string`

# Tags attached to `warn` and above messages (https://discord.com/developers/docs/reference#message-formatting)
# `logging.discord_tags` = `string`

#------------------------------------------------------------------------------#


production = true

[pacstall_programs]
url             = "https://github.com/pacstall/pacstall-programs"
tmp_dir         = "./tmp"
update_interval = 900
max_open_files  = 10

[tcp_server]
port        = 3300
public_dir  = "./public"

[logging]
discord_enabled    = true
discord_token      = "xxxxx"
discord_channel_id = "933045985884651551"
discord_tags       = "<@&983060110928654450>"

#------------------------------------------------------------------------------#