@import url("https://fonts.cdnfonts.com/css/open-sans");
@import url("https://fonts.cdnfonts.com/css/titillium-web");
@import url("https://fonts.cdnfonts.com/css/jetbrains-mono");
@import url("https://fonts.cdnfonts.com/css/noto-sans-bengali");
@import url("https://fonts.cdnfonts.com/css/charu-chandan-unicode");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100;200;300;400;500;600;700;800&display=swap");

button:focus, a:focus {
    box-shadow: none !important;
}
