

.no-scrollbar ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.search {
    position: relative;
    padding-left: 2em;
    padding-right: 2.1em;
    bottom: 46px;
    left: 430px;
    padding-top: 0.65em;
    padding-bottom: 0.65em;
}

.container {
    width: 1450px;
    margin: auto;
}

.container table {
    width: 1450px;
}

.panel-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.panel {
    width: 660px;
    height: 450px;
    background: #F7F7F7;
    border-radius: 10px;
    padding: 20px;
}

.panel-icon-title {
    display: grid;
    grid-template-areas: 
        'logo main main main main'
        'logo version version version version';
}

.panel-icon-title > h1 {
    grid-area: main;
    transform: translateX(-60px);
}

.panel-icon-title > span {
    grid-area: version;
    transform: translateX(-60px);
}

.panel-icon-title > img {
    grid-area: logo;
    transform: translateY(-5px);
}

.panel-inverse-table {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 14px;
    font-weight: 400;
    grid-auto-rows: 0px;
    gap: 25px
}

.panel-inverse-table > span:nth-child(even) {
    text-align: right;
}

.panel-inverse-table > span:nth-child(odd) {
}