@import url("https://fonts.cdnfonts.com/css/open-sans");
@import url("https://fonts.cdnfonts.com/css/titillium-web");
@import url("https://fonts.cdnfonts.com/css/jetbrains-mono");
@import url("https://fonts.cdnfonts.com/css/noto-sans-bengali");
/* Runes */
@import url('https://fonts.cdnfonts.com/css/catrinity');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100;200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: 'MesloLGSNF';
  src: url('../fonts/MesloLGSNF-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MesloLGSNF';
  src: url('../fonts/MesloLGSNF-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

button:focus,
a:focus {
    box-shadow: none !important;
}
