openapi: 3.0.0
servers:
  - url: 'https://pacstall.dev/api'
    description: Production
info:
  description: This document represents the specification of Pacstall's API
  version: "2025.3"
  title: Pacstall Webserver API
  contact:
    email: pacstall@pm.me
  license:
    name: GNU Affero General Public License
    url: 'https://www.gnu.org/licenses/agpl-3.0.en.html'
tags:
  - name: packages
    description: Endpoints to find and filter packages
paths:
  /packages:
    get:
      tags:
        - packages
      summary: searches packages
      parameters:
        - in: query
          name: page
          description: page number
          required: false
          schema:
            default: 0
            type: integer
            minimum: 0
        - in: query
          name: pageSize
          description: page size
          required: false
          schema:
            type: integer
            default: 50
            minimum: 0
        - in: query
          name: filter
          description: search terms
          required: false
          schema:
            type: string
            default: ""
      responses:
        '200':
          description: 'page of packages'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackagePage'
                
  /packages/{name}:
    get:
      tags:
        - packages
      summary: package details
      parameters:
        - in: path
          name: name
          description: 'package name'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'package details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
  
  /repology:
    get:
      tags:
        - repology
      summary: all packages in a Repology friendly format
      responses:
        '200':
          description: all packages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RepologyPackage'

components:
  schemas:
    PackagePage:
      type: object
      properties:
        page:
          type: integer
        size:
          type: integer
          example: 50
        sort:
          type: string
          enum: ['asc', 'desc']
        sortBy:
          type: string
          example: "name"
        filter:
          type: string
          example: "chrome"
        filterBy:
          type: string
          enum: ['name', 'maintainer']
        total:
          type: integer
          example: 12832
        lastPage:
          type: integer
          example: 2123
        data:
          type: array
          items:
            $ref: '#/components/schemas/Package'
          
    Package:
      type: object
      properties:
        packageName:
          type: string
          example: 'ttf-ubuntu-nerd-git'
          description: 'The name of the package. See [pkgname](https://github.com/pacstall/pacstall/wiki/101.1-Variables#pkgname) for more details.'
        prettyName:
          type: string
          example: 'TTF Ubuntu Nerd'
          description: 'The formatted display name of the package. Auto-generated by API.'
        packageBase:
          type: string
          example: 'nerd-fonts-git'
          description: 'The name of the pacscript (base) that the package comes from. See [pkgbase](https://github.com/pacstall/pacstall/wiki/101.1-Variables#pkgbase) for more details.'
        baseIndex:
          type: integer
          example: 2
          description: |-
            The index value of the package within the pacscript (base).
            - For split packages, the base package will always have a value of `0`.
            - For non-split packages, this value will always be `1`.
        baseTotal:
          type: integer
          example: 3
          description: 'The total number of packages within the pacscript (base). In most cases (non-split packages), this value will be `1`.'
        baseChildren:
          type: array
          items:
            type: string
          example: ["ttf-firacode-nerd-git", "ttf-ubuntu-nerd-git", "ttf-zed-mono-nerd-git"]
          description: 'The total package names within the pacscript (base). This array will only be populated on the base package of split packages.'
        description:
          type: string
          example: 'Helper application for Linux distributions.'
          description: 'The description of the package. See [pkgdesc](https://github.com/pacstall/pacstall/wiki/101.1-Variables#pkgdesc) for more details.'
        version:
          type: string
          example: '2:3.3.0-1'
          description: |-
            A combination of `epoch`, `sourceVersion`, and `release`:
            - `sourceVersion` is the nucleus
            - `release` is appended to the end with a `-`
            - `epoch` is appended to the beginning with a `:`, only if it is present
        sourceVersion:
          type: string
          example: '3.3.0'
          description: 'The main package version. If the package is a `-git` package, then this will instead be the shortform commit hash (like `a12b3c4d`). See [pkgver](https://github.com/pacstall/pacstall/wiki/101.1-Variables#pkgver) for more details.'
        release:
          type: string
          example: '1'
          description: 'The pacscript version. See [pkgrel](https://github.com/pacstall/pacstall/wiki/101.1-Variables#pkgrel) for more details.'
        epoch:
          type: string
          example: '2'
          description: 'The special-use package epoch. See [epoch](https://github.com/pacstall/pacstall/wiki/101.1-Variables#epoch) for more details.'
        latestVersion:
          type: string
          example: '3.4.0'
          description: 'The latest version of the package found from Repology sources. This may be `null` if `repology` filters are not present.'
        homepage:
          type: string
          example: 'https://www.nerdfonts.com'
          description: 'The project homepage for the package. See [url](https://github.com/pacstall/pacstall/wiki/101.1-Variables#url) for more details.'
        priority:
          type: string
          example: 'required'
          description: 'The package priority level in `dpkg`. See [priority](https://github.com/pacstall/pacstall/wiki/101.1-Variables#priority) for more details.'
        architectures:
          type: array
          example: ["amd64", "arm64"]
          items:
            type: string
          description: 'The available package architecture(s). See [arch](https://github.com/pacstall/pacstall/wiki/101.1-Variables#arch) for more details.'
        license:
          type: array
          example: ["MIT", "OFL-1.1"]
          items:
            type: string
          description: 'The license(s) that the package is provisioned under. See [license](https://github.com/pacstall/pacstall/wiki/101.1-Variables#license) for more details.'
        gives:
          type: string
          example: [{'value': 'ttf-ubuntu-nerd'}]
          items:
            $ref: '#/components/schemas/ArchDistroString'
          description: 'The name of the package when installed on a system. See [gives](https://github.com/pacstall/pacstall/wiki/101.1-Variables#gives)'
        runtimeDependencies:
          type: array
          example: [{'value': 'libxfixes3'}, {'arch': 'amd64', 'value': 'libxrender1'}]
          items:
            $ref: '#/components/schemas/ArchDistroString'
          description: 'The dependencies needed on the system for the package to run. See [depends](https://github.com/pacstall/pacstall/wiki/101.1-Variables#depends) for more details.'
        checkDependencies:
          type: array
          example: [{'distro': 'debian', 'value': 'libffi8'}, {'arch': 'arm64', 'distro': 'noble', 'value': 'zlib1g'}]
          items:
            $ref: '#/components/schemas/ArchDistroString'
          description: 'The dependencies required for running checks during the build process for the package. See [checkdepends](https://github.com/pacstall/pacstall/wiki/101.1-Variables#checkdepends) for more details.'
        buildDependencies:
          type: array
          example: [{'value': 'meson>=1.3.2'}, {'value': 'libglib2.0-dev>2.70.0'}]
          items:
            $ref: '#/components/schemas/ArchDistroString'
          description: 'The dependencies required to build the package. See [makedepends](https://github.com/pacstall/pacstall/wiki/101.1-Variables#makedepends) for more details.'
        optionalDependencies:
          type: array
          example: [{'value': 'xjadeo: video monitoring'}, {'value': 'harvid: video timeline'}]
          items:
            $ref: '#/components/schemas/ArchDistroString'
          description: 'The optional dependencies to improve a package. See [optdepends](https://github.com/pacstall/pacstall/wiki/101.1-Variables#optdepends) for more details.'
        pacstallDependencies:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'alacritty'}]
          description: 'The pacstall-based dependencies required to build and/or run the package. See [pacdeps](https://github.com/pacstall/pacstall/wiki/101.1-Variables#pacdeps) for more details.'
        checkConflicts:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'appmenu-gtk2-module'}, {'value': 'appmenu-gtk3-module'}]
          description: 'The packages that cannot be installed on the system when running checks. See [checkconflicts](https://github.com/pacstall/pacstall/wiki/101.1-Variables#checkconflicts) for more details.'
        buildConflicts:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'appmenu-registrar'}]
          description: 'The packages that cannot be installed on the system when building the package. See [makeconflicts](https://github.com/pacstall/pacstall/wiki/101.1-Variables#makeconflicts) for more details.'
        conflicts:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'sddm'}, {'value': 'kde-standard'}]
          description: 'The packages that cannot be installed on the system alongside the package. See [conflicts](https://github.com/pacstall/pacstall/wiki/101.1-Variables#conflicts) for more details.'
        provides:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'awk'}]
          description: 'The packages that this package provides full overlapping functionality for. See [provides](https://github.com/pacstall/pacstall/wiki/101.1-Variables#provides) for more details.'
        breaks:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'neovim'}]
          description: 'The packages that are broken in functionality when installed alongside this package (weaker than `conflicts`). See [breaks](https://github.com/pacstall/pacstall/wiki/101.1-Variables#breaks) for more details.'
        replaces:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'vim'}, {'value': 'elvis-tiny'}]
          description: 'The packages that this package replaces, either partially or entirely. See [replaces](https://github.com/pacstall/pacstall/wiki/101.1-Variables#replaces) for more details.'
        enhances:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'emacs'}]
          description: 'The packages that this package enhances the usefulness of (opposite of `suggests`). See [enhances](https://github.com/pacstall/pacstall/wiki/101.1-Variables#enhances) for more details.'
        recommends:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'chafa'}]
          description: 'The packages that are usually found in an install of the package, but not strictly required for functionality. See [recommends](https://github.com/pacstall/pacstall/wiki/101.1-Variables#recommends) for more details.'
        suggests:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'ripgrep'}, {'value': 'bat'}]
          description: 'The packages that enhance the usefulness of the package, but are not strictly required (weaker than `recommends`). See [suggests](https://github.com/pacstall/pacstall/wiki/101.1-Variables#suggests) for more details.'
        mask:
          type: array
          items:
            type: string
          example: ['gnome-desktop', 'ubuntu-desktop', 'yaru-theme-gtk']
          description: 'The packages that this package masks the existence of from the user. See [mask](https://github.com/pacstall/pacstall/wiki/101.1-Variables#mask) for more details.'
        compatible:
          type: array
          items:
            type: string
          example: ['debian:13', 'ubuntu:oracular', '*:sid']
          description: 'The distributions and versions that the package can be built on. See [compatible](https://github.com/pacstall/pacstall/wiki/101.1-Variables#compatible) for more details.'
        incompatible:
          type: array
          items:
            type: string
          example: ['ubuntu:24.04', 'debian:bookworm', '*:jammy', 'elementary:*']
          description: 'The distributions and versions that the package cannot be built on. See [incompatible](https://github.com/pacstall/pacstall/wiki/101.1-Variables#incompatible) for more details.'
        maintainers:
          type: array
          items:
            type: string
          example: ['John Doe <john.doe@pacstall.dev>', 'Jane Deer <jane.deer@gmail.com>']
          description: 'The maintainers of a given package. Each key follows the `name-addr` portion of [RFC 5322 § 3.4](https://www.rfc-editor.org/rfc/rfc5322#section-3.4). See [maintainer](https://github.com/pacstall/pacstall/wiki/101.1-Variables#maintainer) for more details.'
        source:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'arch': 'amd64', 'value': 'https://github.com/makew0rld/amfora/releases/download/v1.10.0/amfora_1.10.0_linux_64-bit'}, {'arch': 'arm64', 'dest': '@cortile-bin~2.5.2', 'value': 'https://github.com/leukipp/cortile/releases/download/v2.5.2/cortile_2.5.2_linux_arm64.tar.gz'}]
          description: 'The source URIs required to build a package. If a source provides a `::` prefix, it will include the `dest` key as well. See [*source](https://github.com/pacstall/pacstall/wiki/101.1-Variables#source) for more details.'
        noExtract:
          type: array
          items:
            type: string
          example: ['dictionary-en_US.tar.gz']
          description: 'The sources that should not be extracted after download. See [noextract](https://github.com/pacstall/pacstall/wiki/101.1-Variables#noextract) for more details.'
        noSubmodules:
          type: array
          items:
            type: string
          example: ['chaotic-PPR']
          description: 'The repositories that should not clone submodules upon download. See [nosubmodules](https://github.com/pacstall/pacstall/wiki/101.1-Variables#nosubmodules) for more details.'
        md5sums:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'e5199316748f31141d21498a29b25a7c'}]
          description: 'The md5sums for the sources. See [*sums](https://github.com/pacstall/pacstall/wiki/101.1-Variables#sums) for more details.'
        sha1sums:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': '92213b99975a2e63417ea0f0fa7fa69c59a5e7a5'}]
          description: 'The sha1sums for the sources. See [*sums](https://github.com/pacstall/pacstall/wiki/101.1-Variables#sums) for more details.'
        sha224sums:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'febf83898db71e42c5a43828c01706338f18e08bde6ad8ff07bcb76e'}]
          description: 'The sha224sums for the sources. See [*sums](https://github.com/pacstall/pacstall/wiki/101.1-Variables#sums) for more details.'
        sha256sums:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': '9cc57f2ca39c2d81aed7e3d82af0b5711863bd3403bb8f024c4c3b4ecf9652a4'}]
          description: 'The sha256sums for the sources. See [*sums](https://github.com/pacstall/pacstall/wiki/101.1-Variables#sums) for more details.'
        sha384sums:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': '2f5243b79c435c5f5fa499aeaa1527c37889eb84e94ec258a79e1ef906eefd82af353a13ce7ea900015742f6e5a8d691'}]
          description: 'The sha384sums for the sources. See [*sums](https://github.com/pacstall/pacstall/wiki/101.1-Variables#sums) for more details.'
        sha512sums:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'de42f972783cde6246a1deb0698605420be100a03f1c6ffb2560a9ac4166c0e02346db3ed0bbe263b230461364561681529c2bb7f9ecdd646e08e09d97abf066'}]
          description: 'The sha512sums for the sources. See [*sums](https://github.com/pacstall/pacstall/wiki/101.1-Variables#sums) for more details.'
        backup:
          type: array
          items:
            type: string
          example: ['usr/share/pacstall/repo/pacstallrepo','usr/share/pacstall/update']
          description: 'The files to be marked as "configuration files" to the system. See [backup](https://github.com/pacstall/pacstall/wiki/101.1-Variables#backup) for more details.'
        repology:
          type: array
          items:
            type: string
          example: ['project: adw-gtk3', 'repo: aur']
          description: 'The Repology query keys to use for maintaining latest version status. Note that the colons are inside of the strings. See [repology](https://github.com/pacstall/pacstall/wiki/101.1-Variables#repology) for more details.'
        requiredBy:
          type: array
          items:
            type: string
          example: ['adw-gtk-theme']
          description: 'The packages which have this package listed in `pacstallDependencies`. Auto-generated by API.'
        updateStatus:
          type: integer
          description: |-
            `-1`: Unknown
            
            `0`: Latest
            
            `1`: Patch available
            
            `2`: Minor version available
            
            `3`: Major version available
          enum:
            - -1
            - 0
            - 1
            - 2
            - 3
        lastUpdatedAt:
          type: string
          example: '2025-01-01T12:34:56Z'
          description: 'The timestamp for the most recent update to the pacscript.'
          
    ArchDistroString:
      type: object
      properties:
        arch:
          type: string
          example: 'amd64'
          description: "The array's architecture extension."
        distro:
          type: string
          example: 'debian'
          description: "The array's distribution extension."
        dest:
          type: string
          example: 'git'
          description: "The URI's `::` prefix. Only used for `source`."
        value:
          type: string
          example: 'ffmpeg'
      required:
        - value

    RepologyPackage:
      type: object
      properties:
        name:
          type: string
          example: 'nodejs-lts-deb'
        visibleName:
          type: string
          example: 'Node.js LTS'
        version:
          type: string
          example: '16.0.1'
        maintainer:
          type: array
          description: 'Note that this array can be empty, indicating an orphaned package.'
          items:
            type: object
            properties:
              name:
                type: string
                example: 'John Doe'
              email:
                type: string
                example: 'john.doe@pacstall.dev'
        description:
          type: string
          example: 'Helper application for Linux distributions.'
        url:
          type: array
          items:
            $ref: '#/components/schemas/ArchDistroString'
          example: [{'value': 'https://sources.example.com/node/16.0.1/installer.deb'}]
        recipeUrl:
          type: string
          example: 'https://raw.githubusercontent.com/pacstall/pacstall-programs/master/packages/nodejs-lts-deb/nodejs-lts-deb.pacscript'
        packageDetailsUrl:
          type: string
          example: 'https://pacstall.dev/packages/adapta-gtk-theme-git'
        type:
          type: string
          enum:
            - 'Source Code'
            - 'Debian Native'
            - 'AppImage'
            - 'Precompiled'
